@keyframes anim {
    0% {background-color: red;}
    25% {background-color: white;}
    100% {background-color: red;}
}

body {
    animation: anim 2s none;
    animation-iteration-count: infinite;
}